.body {
    background-color: white;
}

#box {
    justify-content: center;
    justify-items: center;
    display: flex;
    flex-wrap: wrap;;
}
#form {
    justify-content: left;
    justify-items: left;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;

    width: 200px;
    height: 200px;
    background-color: turquoise;
    padding: 20px;
    margin: 20px;
    margin-bottom: 50px;
}

#format {
    justify-content: left;
    justify-items: left;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

}

#username {
    margin-left: 20px;
}

#password {
    margin-left: 20px;


}