.body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, serif;
    background-color: white;
}

.form_container {
    width: 300px;
    background-color: turquoise;
    color: whitesmoke;
    border-radius: 2px;
    box-shadow: 2px 2px 5px 0 darkturquoise;
    padding: 10px;
    margin: 50px auto;
}

#sign_up_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#username {
    width: 100%;
    margin: 5px 0;
}

#username:focus {
    outline: none;
    background-color: paleturquoise;
}

#password {
    width: 100%;
    margin: 5px 0;
}

#password:focus {
    outline: none;
    background-color: paleturquoise;
}

.error_message {
    color: red;
    font-size: small;
    height: 10px;
}