.body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, serif;
    background-color: white;
}

.form_container {
    background-color: turquoise;
    color: whitesmoke;
    border-radius: 2px;
    box-shadow: 2px 2px 5px 0 darkturquoise;
}

#sign_up_form {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

#username {
    margin-left: 20px;
    width: 100%;
}

#password {
    margin-left: 20px;
    width: 100%;
}

.error_message {
    color: red;
    font-size: small;
}